<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/polls/{{ question.id }}/"><h1>{{ question.question_text }}</h1></a><br>
        <h3>{{ question.location_text }}</h3></li>
        <hr>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}